@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Nanum+Myeongjo&family=Passion+One&family=Permanent+Marker&family=Tapestry&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Nanum+Myeongjo&family=Passion+One&family=Permanent+Marker&family=Sriracha&family=Tapestry&display=swap');

:root{
    --font_passionone: 'Passion One', cursive;

    --font_sh: 'Sriracha', cursive;

    --font_normal: Verdana, Geneva, Tahoma, sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

html, body{
    min-height: 100vh;
    font-family: var(--font_normal);
    font-size: 1em;
}

header{
    background-color: black;
    color: whitesmoke;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font_passionone);
    font-size: 10vw;
}

header > p{
    padding-bottom: 50px;
}

a{
    color: whitesmoke;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

a:active{
    color: blue;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font_sh);
    font-size: 2.6vw;
}

.normal{
    background-color: whitesmoke;
    color: black;
}

.imagem{
    background-color: rgba(51, 51, 51, 0.322);
    color: whitesmoke
    box-shadow: inset 6px 6px 13px 0px black;
    background-attachment: fixed;
    
}

.imagem > p{
    background-color: rgba(0, 0, 0, 0.377);
    display: inline-block;
    padding-bottom: 2em;
    text-shadow: 1px 1px 0px black;
}

#img1{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
    background-size: cover;
}

#img2{
    background-image: url('../imagens/background002.jpg');
    background-size: cover;
}

footer{
    background-color: black;
    color: whitesmoke;
    text-align: center;
    padding: 10px;
}