@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to bottom,#BF6980, #F3D6D2);
    font-size: 9x;
}

main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 8px 8px 15px #b1635c;
}

h1{
    color: #D98F89;
    text-align: center;
    text-shadow: 10px 10px 10px rgba(141, 76, 76, 0.76);
}

h2{
    color: #ebaeab;
}

p{
    text-align: justify;
}
